@model IEnumerable<PropertyServiceListModel>

<div class="row">
    @foreach (var property in Model)
    {
        <div class="card mb-3 mr-5" style="width: 18rem;">
            <img class="card-img-top" src="@property.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@property.Title</h5>
                <p class="card-text">@property.City</p>
                @if (ViewBag.AllowPropertyEdit == true)
                {
                    <a asp-controller="Issues" asp-action="IssueInfo" asp-route-id="@property.Id" class="btn btn-primary">Issues</a>
                    <a asp-controller="Properties" asp-action="Edit" asp-route-id="@property.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Properties" asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>
                }
                else if (User.IsAdmin())
                {
                    <a asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="Properties" asp-action="Edit" asp-route-id="@property.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Properties" asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>
                }
                else
                {
                    <a asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id" class="btn btn-primary">Details</a>
                }
            </div>
        </div>
    }
</div>

