@model AllUserModel

@{
    ViewData["Title"] = $"All User, Page {Model.CurentPage}";
}


<h2 class="text-center">All Users</h2>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var user in Model.Users)
    {
        <tbody>
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.UserName</td>
                <td></td>
            </tr>
        </tbody>
    }
</table>
<hr />

@{
    var previousPage = Model.CurentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = (int)Math.Ceiling((double)Model.TotalUsers / Model.UserPerPage);

}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="btn btn-info @(Model.CurentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Users"
               asp-action="All"
               asp-route-curentPage="@previousPage">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link">@Model.CurentPage<span class="sr-only">(current)</span></a>
        </li>

        <li class="page-item">
            <a class="btn btn-info @(Model.CurentPage == maxPage ? "disabled" : string.Empty)"
               asp-controller="Users"
               asp-action="All"
               asp-route-curentPage="@(Model.CurentPage + 1)">Next</a>
        </li>
    </ul>
</nav>

